$error: #f76956;
$error-text: 'error';

$success: #23cc89;
$success-text: 'success';

$grey1: #303f4d;
$grey1-text: 'grey1';

$grey2: #889fb6;
$grey2-text: 'grey2';

$grey2: #889fb6;
$grey2-text: 'grey2';

$grey3: #fafafa;
$grey3-text: 'grey3';

$grey4: #eee;
$grey4-text: 'grey4';

$primary: #00b36b;
$primary-text: 'primary';

$secondary: #000e2e;
$secondary-text: 'secondary';

$theriary: #4685ff;
$theriary-text: 'theriary';

$white: #e9efff;
$white-text: 'white';

$real-white: #fff;
$real-white-text: 'real-white';

$black: rgba(#000, 0.2);
$black-text: 'black';
