$light: 300;
$normal: 400;
$semibold: 700;
$bold: 700;

/*Z INDEX*/
$z0: 99999;
$z1: 999;
$z2: 998;
$z3: 97;
$z4: 96;

$nz1: -1;
$nz2: -2;
$nz3: -3;
$nz4: -4;

/*TRANSITION SPEED*/
$slow: .4s;
$fast: .2s;

/*SIZES*/
$screen-fhd: 1599px;
$screen-hd: 1399px;
$screen-lg: 1199px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xsm: 503px;